
body{
    text-align: justify;
    width: 600px;
    margin: 10px auto;
}
p{
    font-weight: 4;
}

img{
    max-width: 25%;
}
figure{
    text-align: right;
}
div{
    float: left;
    margin: -5px ;
    box-sizing: border-box;
}